@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Zain", sans-serif;
  background-color: #fefce8;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

.button-base {
  @apply flex items-center justify-center w-32 md:w-36 h-8 md:h-12 rounded-lg font-bold lowercase text-xs md:text-base border border-red-800 transition-all duration-300 transform hover:scale-105 hover:shadow-[4px_4px_0px_0px_rgba(0,0,0,0.9)] focus:outline-none;
}

.button-active {
  @apply bg-red-700 text-yellow-50 hover:bg-red-600;
}

.button-inactive {
  @apply bg-stone-50 text-red-700 hover:text-red-600;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

/* Dark Mode  */

body.dark {
  background-color: #1d1a1a;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
}

body.dark .focus-task-label {
  color: #cccaca !important;
}

body.dark .focus-task-input {
  background: #1d1a1a !important;
  color: #cccaca !important;
  border-color: #555 !important;
}
